@media (max-width: 1070px) {
  section#hero {
    height: 200px;
    position: relative; }

  section#player {
    position: relative;
    margin: 20px auto;
    top: 0px;
    right: inherit; }

  section#player:hover {
    top: -10px; }

  section#menu ul {
    text-align: center; }

  a#logo {
    margin: 20px auto;
    width: 150px;
    position: absolute;
    top: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

  article#homepage {
    padding: 0px 0px 20px 0px; }
    article#homepage section#menu {
      margin-bottom: 20px; }
    article#homepage div.single_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      article#homepage div.single_container div.content, article#homepage div.single_container div#sidebar {
        width: 100%;
        padding: 10px; }
        article#homepage div.single_container div.content div.single_meta h2, article#homepage div.single_container div#sidebar div.single_meta h2 {
          font-size: 2.2em; }

  .mobilehide {
    display: none !important; }

  .mobileshow {
    display: block !important; } }
@media (max-width: 650px) {
  section#featured {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    section#featured div.featured {
      width: 100%;
      margin-right: none;
      margin-bottom: 10px; }

  section#menu nav {
    display: none; }
  section#menu span#burger {
    display: block; } }
